[Unit]
Description=Mailbox synchronization service
After=network.target network-online.target
ConditionPathExists=%t/isync-%i

[Service]
Type=oneshot
Environment=NOTMUCH_CONFIG=%h/.mail/%i/.notmuch-config
ExecStart=/usr/bin/mbsync -V %i
ExecStart=/usr/local/bin/mailfilter -v %h/dotfiles/filters.%i
ExecStart=/usr/bin/notmuch new
